h1 {
    color: red;
    font-family: "Space Grotesk", sans-serif;
    font-size: 36px;
    margin-bottom: 30px;
}
h2 {
    color: green;
    font-family: "Epilogue", sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
}
        
body {
    font-family: "Manrope", sans-serif;
    width: 67%;
    margin: 0 auto;
    background-color: beige;
}

/* recent trip paragraph styling */
.my-trip {
    margin-bottom: 48px;
}

/* pet names list styling */    
.pet-names {
    width: fit-content;
    margin: 0 auto;
    padding: 8px;
    border: 2px solid black;
}

/* favorite retaurant styling */
.favorite-restaurant {
    margin-block: 48px;
}

/* favorite food styling */
.favorite-food {
    display: flex;
    margin: 0 auto;
    margin-block: 48px;
    max-width: 75%;
}

.favorite-food img {
    background-color: blueviolet;
    padding: 10px;
    width: 90%;
    height: auto;
}

/* favorite books table styling */
.favorite-books table {
    clear: both;
    margin-block: 20px;
    border-collapse: collapse;
}

.favorite-books table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.favorite-books th, .favorite-books td {
    padding: 8px;
    text-align: center;
    border: 1px solid black;
}

.favorite-books table img {
    width: 150px;
    height: auto;
}

/* form styling */
.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.form-label {
    text-align: right;
    display: inline-block;
    padding: 10px;
}

.form-input {
    display: inline-block;
}

input[type="text"], select {
    padding: 5px;
}

input[type="submit"] {
    grid-column: 2 / 3;
    padding: 10px;
    width: 20%;
}

/* Icons styling */
.social-icons {
    position: fixed;
    top: 100px;
    right: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-icons img {
    width: 20px;
    height: auto;
}